.Navbar .InputGroup {
  border: 2px solid #bebebe;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  padding: 2px;
  font-size: 0px;
  display: inline-block;
  background: white;
  border-radius: 45px;
  height: 40px;
}

.Navbar .InputGroup input button {
  display: inline-block;
  margin: 0px;
  font-size: 12px;
  background: white;
  border-style: none;
}

.Navbar .InputGroup button {
  background-color: Transparent;
  color: #bebebe;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  vertical-align: middle;
}

.Navbar .InputGroup input {
  background-color: pink;
  border-radius: 45px;
  background-color: transparent;
  border: #ffffff;
  height: 32px;
  width: 600px;
  outline: none;
  padding-left: 18px;
  vertical-align: middle;
}
